@font-face {
    font-family: "Kanit";
    src: url(../../Assets/fonts/Kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: "Open Sans";
    src: url(../../Assets/fonts/Open_San/OpenSans-VariableFont_wdth\,wght.ttf);
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
body{
    overflow-x: hidden;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $Red;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}