$Gray: #333333BF;
$white: #ffff;
$Red: #FF0000;
$Red-2:#E3000B;
$Gray-b:#6D727B;
$font-kanit: "Kanit", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-Open-Sans: "Open Sans", Arial, Helvetica, sans-serif;