footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    .follow-us{
        display: flex;
        flex-direction: row;
        align-items: center;
        p{
            margin-right: 5px;
            font-size: 14px;
            font-family: $font-Open-Sans;
            letter-spacing: 0.42px;
            color: $Gray2;
            span{
                font-weight: 600;
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            li{
                margin: 5px;
                svg{
                    circle:hover{
                        
                        fill: $Red-2;
                    }
                }
            }
        }
    }.logo{
        margin-top: 91px;
    }.keyword{
        margin-top: 37.95px;
        ul{
            display: flex;
            flex-direction: row;
            li{
                margin-right: 35px;
                a{
                    text-decoration: none;
                    color: $Gray2;
                    font-size: 18px;
                    font-family: $font-kanit;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 0.9px;
                }
            }
        }
    }.credit{
        margin-top: 191px;
        border-top: 1px solid $Gray2;
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 72px;
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: $font-Open-Sans;
            font-size: 14px;
            color: $Gray2;
            letter-spacing: 0.42px;
            li{
                margin: 10px 7px 10px 7px;
                svg{
                    circle:hover{
                        
                        fill: $Red-2;
                    }
                }
            }
        }
    }
}