@media only screen and (max-width: 1750px) {
  .Sec3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    .box-R{
      align-items: center;
      margin: 0px;
      p{
        text-align: center;
        margin: 0px 279px;
      }
    }
  }
}
@media only screen and (max-width: 1700px) {
  .Sec5{
    flex-direction: column-reverse;
    align-items: center;
    .box-L{
        align-items: center;
        text-align: center;
        margin: 0px 279px;
    }
      
  }
}    
@media only screen and (max-width: 1450px) {
  .Sec6{
    .container{

      .box-3{
        margin-right: 10%;
      }
    }
      
  }
}    
@media only screen and (max-width: 1420px) {
  .Sec2{
    .container{
      flex-direction: column;
    }
      
  }
}    