.Sec4{
    margin-top: 101px;
    h1{
        @include title;
    }.menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        visibility: hidden;
        div{
            width: 90px;
            height: 90px;
            border: 1.5px solid #AFAFAF;
            border-radius: 10pt;
            margin:25px;
            img{
                width: 88px;
                height: 88px;
            }
        }
    }
    .container-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .left-card{
            @include no-sec;
        }.middle-card{
            @include sec;
        }.right-card{
            @include no-sec;
        }
    }p{
        color: $Gray2;
        font-size: 18px;
        text-align: left;
        font-family: $font-Open-Sans;
        letter-spacing: 0.54px;
        line-height: 30px;
        margin: 0% 29.78%;
    }.btn-R{
        @include btn-Red;
        margin-left: 29.77%;
        margin-bottom: 159.98px;
    }
}