.bloc{
    position: fixed;
    right: 0px;
    color: $white;
    letter-spacing: 0.01px;
    
    font-family: $font-kanit;
    width: 149px;
    height: 236px;
    background: $Gray;
    text-align: right;
    display: flex;
    flex-direction: column;
    ul {
        li {
            margin: 20px;
            margin-right: 40px;
            transition: 0.25s;
            &:hover{
              transform: scale(1.3);
              transition: 0.25s;
            }
            
            a {
              color: $white;
              text-decoration: none;
              transition: 0.15s;
              user-select: none;
              &:hover {
                color: $Red;
                transition: 0.15s;
              }
            }
          }
    }
}