@mixin btn-Red{
                padding: 8px 13px;
                border-radius: 26px;
                background: $Red-2;
                letter-spacing: 1.26px;
                color: $white;
                font-family: $font-kanit;
                font-weight: lighter;
                font-size: 17px;
                border: none;
                margin: 35px 35px 0px 0px;
                transition: 0.3s;
                a{
                    text-decoration: none;
                    color: $white;
                }
                &:hover{
                    opacity: 0.8;
                    transition: 0.3s;
                }
}
@mixin btn-Sec{
    padding: 8px 13px;
    border-radius: 26px;
    background: $white;
    letter-spacing: 1.26px;
    color: #333333;
    font-family: $font-kanit;
    font-weight: lighter;
    font-size: 17px;
    border: solid 3px #333333;
    margin: 35px 35px 0px 0px;
    transition: 0.3s;
    a{
        text-decoration: none;
        color: $white;
    }
    &:hover{
        background: #333333;
        color: $white;
        transition: 0.3s;
    }
}