.slider {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 1200px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    .carousel {
      cursor: none;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      scroll-behavior: smooth;
      &.dragging {
        cursor: none;
        scroll-behavior: auto;
        img {
          pointer-events: none;
        }
      }
      img {
        height: 340px;
        object-fit: cover;
        user-select: none;
        margin-left: 14px;
        width: calc(100% / 3);
        
        &:first-child {
          margin-left: 0px;
        }
      }
    }
}
.mouse {
  z-index: 99999999999;
  position: absolute;
  background: $Red;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-kanit;
  color: $white;
  visibility: hidden;
  transform: translate(-50%, -50%);
  cursor: none;
  user-select: none;
}