nav{
    z-index: 999;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 62px;
    background: $Gray;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        li{
            color: $white;
            font-family: $font-Open-Sans;
            font-weight: bold;
            margin: 20px;
            margin-left: 113px;
            margin-right: 113px;
        }
    }
}
@mixin title{
    margin-top: 107px;
    color: $Gray2;
    font-size: 34px;
    font-family: $font-kanit;
    line-height: 50px;
    font-weight: 600;
    margin-left: 273px;
}